@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@300&display=swap');
:root {
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hidden {
    visibility: hidden;
    height: 0;
}

/*Base styles*/
body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    color: #333;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    /*h1 line height should be less always*/
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    /*Image sprays in container, not burst out*/
    width: 100%;
}

/*Navbar styling*/
.navbar {
    background: var(--primary-color);
    color: white;
    height: 70px;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar a {
    color: white;
    padding: 10px;
    margin: 0 5px;
}
.navbar a:hover {
    border-bottom: 2px #fff solid;
}

/*showcase*/
.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: white;
    position: relative;
}

.showcase h1 {
    font-size: 40px;
}

.showcase p {
    margin: 20px 0;
}

.showcase .grid {
    grid-template-columns: 55% 45%;
    gap: 30px;
    overflow: visible;
}

.showcase-form {
    /*to add top left right bottom any you need to use absolute positioning pr relative
    */
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px !important;
    z-index: 100;
    justify-self: flex-end;
    animation: slideFromRight 1s ease-in;
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}
.showcase-form input:focus {
    outline: none;
}

.showcase::before,
.showcase::after {
    content: '';
    background-color: white;
    position: absolute;
    height: 100px;
    left: 0;
    right: 0;
    bottom: -70px;
    transform: skewY(-3deg);

   /* work in other browsers, 
    The CSS -webkit-transform property enables web authors to transform 
    an element in two-dimensional (2D) or three-dimensional (3D) space.*/

     -webkit-transform: skewY(-3deg);
     -moz-transform: skewY(-3deg);
     -ms-transform: skewY(-3deg);
}
/* stats */

.stats {
    padding-top: 100px;
    animation: slideFromBottom 1s ease-in;
}
.stats-heading {
    max-width: 500px;
    margin: auto !important;
}
.stats .grid h3 {
    font-size: 35px;
}
.stats .grid p {
    font-size: 20px;
    font-weight: bold;
}

/* cli */

.cli .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 20px;
}

.cli .grid > *:first-child{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

/* cloud */
.cloud .grid {
    grid-template-columns: 4fr 1fr;
}

/* languages */
.languages .flex {
    flex-wrap: wrap;
}

.languages .card {
    text-align: center;
    margin: 18px 10px 40px;
    /* get smooth transition */
    transition: transform 0.2s ease-in;
}

.languages .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.languages .card:hover {
    transform: translateY(-15px); 
    /* not smooth */
}

/* footer */

.footer .social a {
    margin: 0 10px;
}

/* tables and under */
@media(max-width: 768px){
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid,
    .features-main .grid {
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr !important;
    }

    .showcase {
        height: auto;
        /* takes up the amount of the container */
    }

    .showcase-text {
        text-align: center;
        margin-top: 40px;
        animation: slideFromTop 1s ease-in !important;
    }
    .showcase-form {
        justify-self: center;
        margin: auto;
        animation: slideFromBottom 1s ease-in;
    }
    .cli .grid > *:first-child{
        grid-column: 1;
        grid-row: 1;
    }
    .features-head,
    .features-sub-head,
    .docs-head {
        text-align: center;
    }
    .features-head img,
    .features-sub-head img,
    .docs-head img{
        justify-self: center !important;
    }

    .features-main .grid > *:first-child,
    .features-main .grid > *:nth-child(2) {
        grid-column: 1 !important;
    }

}



/* mobile */
@media(max-width: 500px){
    .navbar {
        height: 110px;
    }
    .navbar .flex {
        flex-direction: column;
    }
    .navbar ul {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }
    #missing {
        flex-direction: row;
    }
   
}


/* features */
.features-head img , .docs-head img{
    width: 200px;
    justify-self: flex-end;
}
.features-sub-head img{
    width: 300px;
    justify-self: flex-end;
}
.features-main .card > i {
    margin-right: 20px;
}
.features-main .grid {
    padding: 30px;
}
.features-main .grid >*:first-child {
    grid-column: 1 / span 3;
}
.features-main .grid >*:nth-child(2) {
    grid-column: 1 / span 2;
}

/* docs */

.docs-main h3 {
    margin: 10px 0px;
}
.docs-main .grid {
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
}
.docs-main nav li {
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px #ccc solid;
}
.docs-main a:hover {
    font-weight: bold;
}

code, pre {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* Animations */
@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideFromRight {
    0% {
        transform: translateX(+100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideFromBottom {
    0% {
        transform: translateY(+100%);
    }
    100% {
        transform: translateX(0);
    }
}

.showcase-text{
    animation: slideFromLeft 1s ease-in;
}

